/SignalR.Castle.Windsor/obj
/SignalR.Castle.Windsor/bin
/SignalR.Castle.Windsor/SignalR.Castle.Windsor.csproj.user

/SignalR.Castle.Windsor.Sample/bin
/SignalR.Castle.Windsor.Sample/obj
/SignalR.Castle.Windsor.Sample/SignalR.Castle.Windsor.Sample.csproj.user

/SignalR.Castle.Windsor.ncrunchsolution.user
/SignalR.Castle.Windsor.ncrunchsolution
/SignalR.Castle.Windsor.sln.DotSettings.user
/SignalR.Castle.Windsor.suo
/SignalR.Castle.Windsor.v11.suo
/SignalR.Castle.Windsor.v12.suo
