
/SignalR.Castle.Windsor.ncrunchsolution
/SignalR.Castle.Windsor.suo
/SignalR.Castle.Windsor.v11.suo
/Source/SignalR.Castle.Windsor.Sample/SignalR.Castle.Windsor.Sample.csproj.user
/Source/SignalR.Castle.Windsor/obj
/Source/SignalR.Castle.Windsor/bin
/_ReSharper.SignalR.Castle.Windsor
/Source/SignalR.Castle.Windsor/SignalR.Castle.Windsor.csproj.user
/Source/SignalR.Castle.Windsor.Sample/bin
/Source/SignalR.Castle.Windsor.Sample/obj
/SignalR.Castle.Windsor.ncrunchsolution.user
/SignalR.Castle.Windsor.sln.DotSettings.user