
/Source/SignalR.Castle.Windsor.ncrunchsolution
/Source/SignalR.Castle.Windsor.suo
/Source/SignalR.Castle.Windsor.v11.suo
/Source/SignalR.Castle.Windsor.Sample/SignalR.Castle.Windsor.Sample.csproj.user
/Source/SignalR.Castle.Windsor/obj
/Source/SignalR.Castle.Windsor/bin
/Source/_ReSharper.SignalR.Castle.Windsor
/Source/SignalR.Castle.Windsor/SignalR.Castle.Windsor.csproj.user
/Source/SignalR.Castle.Windsor.Sample/bin
/Source/SignalR.Castle.Windsor.Sample/obj
/Source/SignalR.Castle.Windsor.ncrunchsolution.user
/Source/SignalR.Castle.Windsor.sln.DotSettings.user
/NuGet - API key.txt